<head>
	<title>ACE Program | Manage Faculty</title>

	<link rel="stylesheet" type="text/css" href="css/admin/manage-faculty.css">
</head>

<body>

	<div class="banner">
		<div class="button-container col-md-12">
				<div class="searchBar col-md-3 pull-right">
						<input type="text" class="form-control" ng-model="searchBox" placeholder="Search">
				</div>
		</div>

		<div class="register-button col-md-2">
			<button type="button" data-toggle="modal" data-target="#facultyRegModal" ng-click="showRegFacultyModal()"><i class="fa fa-user-plus" aria-hidden="true"></i> Register Faculty</button>
		</div>

		<div class="delete-button col-md-2">
			<button type="button" ng-click="deleteFacultyList()" ng-disabled="disableDeleteBtn()"><i class="fa fa-user-times" aria-hidden="true"></i> Delete Faculty</button>
		</div>

		<img src="img/header1.png">
	</div>

	<div class="manageFaculty col-md-12 col-md-offset-0 formContainer">

					<div class="panel-body manageContainer">

							<table class="table table-inbox table-condensed">
								<col width="20">
								<col width="110">
								<col width="110">
								<col width="55">
								<col width="55">
								<col width="40">
								<col width="20">

								<thead>
									<tr class="header">
											<th><center><input type="checkbox" ng-model="mainCheckbox" ng-change="controlCheckbox()"></center></th>
											<th>EMAIL</th>
											<th>NAME</th>
											<th>CONTACT</th>
											<th>REPORTS</th>
											<th>STATUS</th>
											<th><center>ACTION</center></th>
									</tr>
								</thead>

								<tbody>
									<tr class="listFaculty" ng-repeat="faculty in facultyAccounts | startFrom:(currentPage-1)*itemsPerPage | filter: searchBox | limitTo:itemsPerPage" ng-click="showPopup(message)">
											<td>
												<center><input type="checkbox" data-checklist-model="facultyList.email" data-checklist-value="faculty.email" checklist-change="updateMainCheckbox()" noclick></center>
											</td>

											<td>
												{{faculty.email}}
											</td>

											<td>
									       		{{faculty.first_name | uppercase}} {{faculty.last_name | uppercase}}
									        </td>

							        		<td>
							            		{{faculty.contact_number}}
							        		</td>

											<td>
							            		{{faculty.reported_count}}
							        		</td>

							        		<td>
							            		{{faculty.status}}
							        		</td>

											<td>
												<center>
												<button type="button" class="btn btn-primary" ng-click="deleteFaculty(faculty.email)" ><span class="glyphicon glyphicon-trash"></span></button>
												</center>
											</td>
							    	</tr>

							    	<tr ng-show="(facultyAccounts | filter:searchBox).length == 0">
										<td colspan="5"><center>NO RESULT</center></td>
									</tr>

	 							</tbody>
							</table>



							<div class="page">
								<center>
										<ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
								</center>
							</div>

					</div>
	</div>



		<div id="facultyRegModal" class="modal fade" role="dialog">
		  	<div class="modal-dialog">

			    <div class="modal-content">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove custom-header-color" aria-hidden="true"></span></button>
			        	<h4 class="modal-title custom-header-color">Register Faculty</h4>
			     	</div>
			      	<div class="modal-body">


			      		<form name="regFacultyForm" class="form-horizontal custom-form" role="form" ng-submit="registerFaculty(regFacultyForm)" novalidate>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="facultyEmailInput">Email</label>
				              <div class="col-md-12">
				                <input type="email" class="form-control" id="facultyEmailInput" name="facultyEmail" ng-model="facultyEmail" required/>
				              </div>
				            </div>
				            <div ng-messages="regFacultyForm.facultyEmail.$error" ng-show="regFacultyForm.$submitted">
				              <p class="invalid-text" ng-message="emailExist">Email already used</p>
				              <p class="invalid-text" ng-message="required">This field is required</p>
				              <p class="invalid-text" ng-message="email">Invalid email</p>
				            </div>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="facultyFirstNameInput">First Name</label>
				              <div class="col-md-12">
				                <input type="text" class="form-control" id="facultyFirstNameInput" name="facultyFirstName" ng-model="facultyFirstName" required/>
				              </div>
				            </div>
				            <div ng-messages="regFacultyForm.facultyFirstName.$error" ng-show="regFacultyForm.$submitted">
				              <p class="invalid-text" ng-message="required">This field is required</p>
				            </div>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="facultyLastNameInput">Last Name</label>
				              <div class="col-md-12">
				                <input type="text" class="form-control" id="facultyLastNameInput" name="facultyLastName" ng-model="facultyLastName" required/>
				              </div>
				            </div>
				            <div ng-messages="regFacultyForm.facultyLastName.$error" ng-show="regFacultyForm.$submitted">
				              <p class="invalid-text" ng-message="required">This field is required</p>
				            </div>

										<!--
				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="adminDepartmentInput">Department</label>
				              <div class="col-md-12">
				                <select class="form-control" id="adminDepartmentInput" name="adminDepartment" ng-model="adminDepartment" required>
				                  <option disabled selected value>Select Department</option>
							      <option value="1"> Senior High School</option>
							      <option value="2"> College</option>
							    </select>
				              </div>

				            </div>
				            <div ng-messages="regAdminForm.adminDepartment.$error" ng-show="regAdminForm.$submitted">
				              <p class="invalid-text" ng-message="required">This field is required</p>
				            </div>
									-->

				            <div class="regBtn">
				              <button type="submit" class="btn btn-primary" ng-disabled="disableRegBtn">{{createBtn}}</button>
				        	</div>

				        </form>

			      	</div>

			    </div>

		  	</div>
		</div><!-- modal closing tag -->

</div><!-- div ng-Controller -->

</body>
