@font-face {
    font-family: acre-regular;
    src: url('../../fonts/acre-regular.ttf');
}

body {
    font-weight: 500;
    font-size: 1.05em;
    font-family: gotham-book;
}

.manageAdminTab {
  background: #122143 none repeat scroll 0 0;
  border-left: 5px solid #5584ff;
  padding-left: 25px;
  text-decoration: none;
}

/*----------------------------*/

.manageAdmin{
  padding-top: 20px;
  height: 100%;
  width: 100%;
  border
}

.panel-body {
  border: solid 3px #10326F;
  border-radius: 0px 0px;
}

.manageAdmin .searchBar input[type='text']{
    width: 250px;
    border-radius: 0px 0px;
    border: 2px solid black;
}

.manageAdmin .searchBar {
    width: 280px;
}

.register-button button{
    border-radius: 0px 0px;
    background-color: #4CAF50;
    border: none;
    text-decoration: none;
    color: white;
    height: 40px;
    width: 150px;
}

.delete-button button{
    border-radius: 0px 0px;
    background-color: #EE1F34;
    border: none;
    text-decoration: none;
    color: white;
    height: 40px;
    width: 150px;
}

.register-button button:hover, .delete-button button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.table-height{
  margin-top: 80px;
}

#adminRegModal .modal-dialog {
  width:520px;
}

.modal-body .form-horizontal .control-label {
  text-align: left;
  padding-bottom: 7px;
}

.custom-form {
  padding-left: 10px;
  padding-right: 10px;
}

.regBtn {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
}

.invalid-text {
  margin-top: -10px;
  color: #f00;
}

form.ng-submitted input.ng-invalid, form.ng-submitted select.ng-invalid {
  border:1px solid #f00;
}
