<head>

  <title>Error!</title>

  <link rel="stylesheet" type="text/css" href="css/common/error-invalid-link.css">

</head>

<body>

  <div class="container">
    <center>

      <img src="img/warning.png" />

      <div class="article">

        <h2>OOPS</h2>
        <p>
          This link may have already been expired.<br />
          Click the button below to go to sign in page.
        </p>

        <a class="sign-in" ui-sref="login">
          <button type="submit">
              <span>
                  BACK TO SIGN IN PAGE
              </span>
          </button>
        </a>
      </div>

    </center>
  </div>

</body>
