<head>

    <title>Reset Password</title>

    <link rel="stylesheet" type="text/css" href="css/common/forgot-password.css">

    <style type = "text/css">

        .check-margin10 {
        margin-left:530px; /* Set as you wish */
        }

        .check-margin11 {
        margin-left:0px; /* Set as you wish */
        margin.bottom: 70px;
        }

        .check-margin10 {
        margin-left:10px; /* Set as you wish */
        }

    </style>

</head>

<body>

    <div ng-controller = "ForgotPasswordController" ng-init="verifyURL()">
    	<form ng-submit="confirmReset()" ng-show="showResetPassForm">

            <div class="forgotPassword col-md-6 col-md-offset-3">
        		</br>
                <center>
        			<img src="img/reset.png" height = "210" width = "200">
        		</center>
        		<center>
                    <b><h3 class="form-group">RESET PASSWORD</h3></b>
                </center>
                </br>
            	<div class="col-md-10  col-md-offset-3">
                    <input type="password" placeholder="Enter Password" ng-Model="userPassword" class="col-xs-6"   required/>
                </div>
                </br>
                </br>
        		<div class="col-md-10  col-md-offset-3">
        			<input type="password" placeholder="Enter Confirm Password" ng-Model="userConfirmPassword" class="col-xs-6" require>
                </div>
                </br></br></br></br></br></br>
                <div class="form-group">
                    <div class="row-md-1 control">
                        <button class="button" type="submit">
                            RESET PASSWORD
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</body>
