<head>
	<title>ACE Program | Manage Administrators</title>

	<link rel="stylesheet" type="text/css" href="css/superadmin/manage-admin.css">
</head>

<body>

	<div class="manageAdmin col-md-12" ng-submit="submitReferral()" name="refForm" id="refForm" novalidate>
			<div class="row col-md-12 col-md-offset-0 formContainer">

					<div class="panel panel-default">

						<div class="panel-body manageContainer">

								<div class="col-md-4 searchBar pull-right">
									<!--input type="text" class="sr-input" ng-model="searchBox[myFilter]" placeholder="{{searchPlacholder}}"-->
									<input type="text" class="form-control" ng-model="searchBox" placeholder="Search">
								</div>

								<div class="register-button col-md-2">
									<button type="button" data-toggle="modal" data-target="#adminRegModal" ng-click="showRegAdminModal()">Register Administrator</button>
								</div>

								<div class="delete-button col-md-1">
									<button type="button" ng-click="deleteAdminList()" ng-disabled="disableDeleteBtn()"> Delete Administrator</button>
								</div>

								<div class="table-height">
										<table class="table table-inbox table-condensed">
											<col width="20">
											<col width="120">
											<col width="120">
											<col width="80">
											<col width="80">
											<col width="20">

											<thead>
								                <tr>
													<th><center><input type="checkbox" ng-model="mainCheckbox" ng-change="controlCheckbox()"></center></th>
													<th>EMAIL</th>
													<th>NAME</th>
													<th>CONTACT NUMBER</th>
													<th>DEPARTMENT</th>
													<th><center>ACTION</center></th>
												</tr>
								            </thead>

											<tbody>

												<tr ng-repeat="admin in adminAccounts | startFrom:(currentPage-1)*itemsPerPage | filter: searchBox | limitTo:itemsPerPage" ng-click="showPopup(message)">
														<td>
															<center><input type="checkbox" data-checklist-model="adminList.email" data-checklist-value="admin.email" checklist-change="updateMainCheckbox()" noclick></center>
														</td>
														<td>
															{{admin.email}}
														</td>
														<td>
										            		{{admin.first_name}} {{admin.last_name}}
										        		</td>
										        		<td>
										            		{{admin.contact_number}}
										        		</td>
										        		<td>
										            		{{admin.department}}
										        		</td>
														<td>
															<center>
															<button type="button" class="btn btn-primary" ng-click="deleteAdmin(admin.email)" ><span class="glyphicon glyphicon-trash"></span></button>
															</center>
														</td>
										    	</tr>

										    	<tr ng-show="(adminAccounts | filter:searchBox).length == 0">
													<td colspan="5"><center>NO RESULT</center></td>
												</tr>
										    	
									 		</tbody>
									 		
										</table>
								
								</div>
						</div>
					</div>

					<div>
						<center>
						<ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></ul>
						</center>
					</div>
			</div>
	</div>


		<div id="adminRegModal" class="modal fade" role="dialog">
		  	<div class="modal-dialog">

			    <div class="modal-content">
			      	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove custom-header-color" aria-hidden="true"></span></button>
			        	<h4 class="modal-title custom-header-color">Register Administrator</h4>
			     	</div>
			      	<div class="modal-body">


			      		<form name="regAdminForm" class="form-horizontal custom-form" role="form" ng-submit="registerAdmin(regAdminForm)" novalidate>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="adminEmailInput">Email</label>
				              <div class="col-md-12">
				                <input type="email" class="form-control" id="adminEmailInput" name="adminEmail" ng-model="adminEmail" required/>
				              </div>
				            </div>
				            <div ng-messages="regAdminForm.adminEmail.$error" ng-show="regAdminForm.$submitted">
				              <p class="invalid-text" ng-message="emailExist">Email already used</p>
				              <p class="invalid-text" ng-message="required">This field is required</p>
				              <p class="invalid-text" ng-message="email">Invalid email</p>
				            </div>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="adminFirstNameInput">First Name</label>
				              <div class="col-md-12">
				                <input type="text" class="form-control" id="adminFirstNameInput" name="adminFirstName" ng-model="adminFirstName" required/>
				              </div>
				            </div>
				            <div ng-messages="regAdminForm.adminFirstName.$error" ng-show="regAdminForm.$submitted">
				              <p class="invalid-text" ng-message="required">This field is required</p>
				            </div>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="adminLastNameInput">Last Name</label>
				              <div class="col-md-12">
				                <input type="text" class="form-control" id="adminLastNameInput" name="adminLastName" ng-model="adminLastName" required/>
				              </div>
				            </div>
				            <div ng-messages="regAdminForm.adminLastName.$error" ng-show="regAdminForm.$submitted">
				              <p class="invalid-text" ng-message="required">This field is required</p>
				            </div>

				            <div class="form-group">
				              <label  class="col-md-12 control-label" for="adminDepartmentInput">Department</label>
				              <div class="col-md-12">
				                <select class="form-control" id="adminDepartmentInput" name="adminDepartment" ng-model="adminDepartment" required>
				                  <option disabled selected value>Select Department</option>
							      <option value="1"> Senior High School</option>
							      <option value="2"> College</option>
							    </select>
				              </div>
				            </div>
				            <div ng-messages="regAdminForm.adminDepartment.$error" ng-show="regAdminForm.$submitted">
				              <p class="invalid-text" ng-message="required">This field is required</p>
				            </div>

				            <div class="regBtn">
				              <button type="submit" class="btn btn-primary" ng-disabled="disableRegBtn">{{createBtn}}</button>
				        	</div>

				        </form>

			      	</div>

			    </div>

		  	</div>
		</div><!-- modal closing tag -->

</body>
