<head>
  <title>ACE Program | Settings</title>

  <link rel="stylesheet" type="text/css" href="css/faculty/settings.css">
</head>

<body>

    <div class="col-md-11 centerCol" ng-show="pwordLength!=null">
      <div class="row settingsContainer">

        <div class="col-md-12 no-side-padding">

          <div class="panel panel-default">

              <div class="panel-heading">
                <h3 class="panel-title">Account Information</h3>
              </div>

              <div class="panel-body">

                <div class="row">
                  <div class="col-md-12">
                    <div class="row-component">
                      <p class="setting-label"><b>Password</b></p>
                      <h5>{{pwordLength}}</h5>
                    </div>
                    <div class="row-component pull-right">
                      <button class="btn btn-primary editBtn" data-toggle="modal" data-target="#pwordModal" ng-click="showPwordModal()">Edit</button>
                    </div>
                  </div>
                </div>

              </div>

          </div>

        </div>

      </div>
    </div>


  <div id="pwordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove custom-header-color" aria-hidden="true"></span></button>
          <h4 class="modal-title custom-header-color">Update Password</h4>
        </div>

        <div class="modal-body">
          <form name="settingsForm" class="form-horizontal custom-form" role="form" ng-submit="changePassword(settingsForm)" novalidate>

            <div class="form-group">
              <label  class="col-md-12 control-label" for="oldPasswordInput">Old Password</label>
              <div class="col-md-12">
                <input type="password" class="form-control" id="oldPasswordInput" name="oldPassword" ng-model="oldPassword" required/>
              </div>
            </div>
            <div ng-messages="settingsForm.oldPassword.$error" ng-show="settingsForm.$submitted">
              <p class="invalid-text" ng-message="invalidOldPword">Invalid password</p>
              <p class="invalid-text" ng-message="required">This field is required</p>         
            </div>

            <div class="form-group">
              <label class="col-md-12 control-label">New Password</label>
              <div class="col-md-12">
                <input type="password" class="form-control" id="userPasswordInput" name="userPassword" ng-model="userPassword" ng-model-options="{allowInvalid: true}" pattern="^.*(?=.*\d)(?=.*[A-Za-z]).*$" minlength="8" required/>
              </div>
            </div>
            <div ng-messages="settingsForm.userPassword.$error" ng-show="settingsForm.$submitted">  
              <p class="invalid-text" ng-message="samePword">Invalid password</p>
              <p class="invalid-text" ng-message="required">This field is required</p>
              <p class="invalid-text" ng-message="minlength">Must be atleast 8 characters</p>
              <p class="invalid-text" ng-message="pattern">Must be a combination of letters and numbers</p>             
            </div>

            <div class="form-group">
              <label class="col-md-12 control-label">Confirm Password</label>
              <div class="col-md-12">
                <input type="password" class="form-control" id="userConfirmPasswordInput" name="userConfirmPassword" ng-model="userConfirmPassword" compare-to="userPassword" required/>
              </div>
            </div>
            <div ng-messages="settingsForm.userConfirmPassword.$error" ng-show="settingsForm.$submitted">
              <p class="invalid-text" ng-message="required">This field is required</p>
              <p class="invalid-text" ng-message="compareTo">Password don't match</p>
            </div>

            <div class="saveBtn">
              <button type="submit" class="btn btn-primary" ng-disabled="disableSaveBtn">{{saveBtn}}</button>
            </div>

          </form>
        </div>

      </div>

    </div>
  </div><!-- modal closing tag -->
  

  <div class="sk-fading-circle" ng-hide="pwordLength">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>

</body>

<!--

<form name="contactForm" class="userContact" role="form" ng-submit="confirmContact()" novalidate>

                <span class="padded-text">Contact Number</span>
                <input class="form-control" type="tel" pattern=".{3,11}" name="userContact" id="userContact" ng-Model="userContact" required ng-maxlength="5" uib-popover="minimum of 3 and maximum of 11 numbers" popover-is-open="contactForm.userContact.$error.pattern" popover-enable="contactForm.userContact.$error.pattern" popover-placement="right" popover-class="customPopover">

                <button id="btnUpdateContact" name="btnUpdateContact" class="btn btn-primary btn-block" ng-click="confirmContact()">Update Contact Number</button>

              </form>

<form name="passwordForm" class="changePass" role="form" ng-submit="changePassword()" novalidate>

                      <div id="oldPassword">
                        <span class="padded-text">Old Password</span>
                        <input class="form-control" type="password" name="oldPassword" id="oldPasswordInput" ng-Model="oldPassword" required uib-popover="Invalid Password" popover-trigger="'none'" popover-is-open='{{oldPwordPopover}}' popover-placement="right" popover-class="customPopover">
                      </div>


                      <div id="userPassword">
                        <span class="padded-text">New Password</span>
                        <input class="form-control" type="password" id="userPasswordInput" ng-pattern="/^.*(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*-_])(?=.*[A-Z])(?=.*[a-z]).*$/" name="userPassword" ng-Model="userPassword" required uib-popover="must be atleast 8 characters and a combination of numbers, special character, uppercase and lowercase letters" popover-enable="passwordForm.userPassword.$error.pattern" popover-is-open="passwordForm.userPassword.$error.pattern" popover-placement="right" popover-class="customPopover">
                      </div>


                      <div id="userConfirmPassword">
                        <span class="padded-text">Confirm Password</span>
                        <input class="form-control" type="password" id="userConfirmPasswordInput" name="userConfirmPassword" ng-Model="userConfirmPassword" required uib-popover="password don't match" popover-enable="{{userConfirmPassword != userPassword}}" popover-is-open="{{userConfirmPassword != userPassword}}" popover-placement="right" popover-class="customPopover2">
                      </div>


                  <button id="btnUpdate" name="btnUpdate" class="btn btn-primary btn-block" ng-click="changePassword()">Update Password</button>

            </form>
-->
